
.App-body {
    border-bottom: 3px solid #e0354b;
    font-size: 1rem;
    font-family: var(--font-family-general);
    margin: auto;
    height: 23rem;
    padding: 3rem;
}
  
.App-body input {
    margin-right: 5px;
}
